* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  --icon-font-size: 5rem;
}
#gameBoard {
  background: #000;
  width: fit-content;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 10px;
}

button.cell {
  border: none;
  width: 150px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  font-size: var(--icon-font-size);
}
button.cell i {
  font-size: 1em;
}
button:hover {
  cursor: pointer;
}
